%nav.navbar.navbar-static-top
  .navbar-inner
    .container
      %a.brand{ :href => "#" }
        TeamUp
      - if current_user
        %ul.nav
          %li{ :class => (req.path == '/dashboard') ? 'active' : '' }
            = link_to '/dashboard', 'Dashboard'
          %li{ :class => (req.path == '/standups') ? 'active' : '' }
            = link_to '/standups', 'Standups'

        .pull-right
          .user
            = current_user.github_user
            %a.logout{ :href => "/logout" } Logout
