SESSION_SECRET="SOME-SESSION-TOKEN"
GITHUB_CLIENT_ID="YOUR GITHUB APPLICATION CLIENT ID"
GITHUB_CLIENT_SECRET="YOUR GITHUB APPLICATION CLIENT ID"
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=teamup_dev
DATABASE_USER=teamup
DATABASE_PASS=teamup
SITE_URL=http://localhost:9292
MAILER_FROM_EMAIL=[example@example.com]
MAILER_FROM_NAME=[Example]
MM_URGENT_QUOTA=[50]
MM_NORMAL_QUOTA=[25]
MM_LOW_QUOTA=[5]
MM_NORMAL_SLEEP=[1]
MM_LOW_SLEEP=[2]
MM_SLEEP=[5]
MAILER_ADAPTER=mandrill
MANDRIL_API_KEY=[mandril key here]
