<!DOCTYPE html>
%html{ :lang => :en }
  %head
    %title TeamUp
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{ :href => "/stylesheets/bootstrap.min.css", :rel => "stylesheet", :media => "screen" }
    %link{ :href => "/stylesheets/team_up.css", :rel => "stylesheet", :media => "screen" }

  %body
    #wrap
      %header
        -if current_user
          = partial('shared/_nav_bar')
      #content.container
        .row
          = show_flash_message
        .row
          = content

    %footer.navbar-default

    %script{ :src => "/javascripts/jquery-1.9.1.min.js", :type => "text/javascript" }
    %script{ :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js", :type => "text/javascript" }
