.row
  .col-md-12
    &nbsp;
.row
  .col-md-12
    .jumbotron
      %h1 TeamUp
      %p
        Asynchronous standups for asyncronous teams. Post your standup for your team at your own time.
      %p
        Know what's going on with your team depending on no one but you.
.row
  .col-md-12
    .pull-right
      %a.login{ :href => "/auth/github" }
        %img{ :src => "/images/github_mark.png", :width => "60", :height => "60" }
        %br
        Login with your GitHub profile
    .clearfix
