%div
  %h4
    = standup.user.github_user
    .pull-right= Date.parse(standup.date.to_s).to_s
    .clearfix

  %ul.list-group
    %li.list-group-item
      %span.badge Previous
      =standup.previous.gsub(/\n/, "<br>")
    %li.list-group-item
      %span.badge Next
      = standup.next.gsub(/\n/, "<br>")
    %li.list-group-item
      %span.badge Blockers
      = standup.blockers.gsub(/\n/, "<br>")
